<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>Email Campaign</title>
        <link rel="shortcut icon" href="../images/icon.jpg"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
       <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/font-awesome.css">
        <link rel="stylesheet" href="../css/templatemo_style.css">
        <link rel="stylesheet" href="../css/templatemo_misc.css">
        <link rel="stylesheet" href="../css/flexslider.css">
        <link rel="stylesheet" href="../css/testimonails-slider.css">        
        <link rel="stylesheet" href="../css/contactstable.css">
        <link rel="stylesheet" href="../css/contacts.css">
        <script src="../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
  
   <body onload="OnLoad()">
        
        <script type="text/javascript">
function OnLoad() {
  var mydiv = document.getElementById('dashboard');
  document.getElementById("save").style.visibility="hidden";
     if(mydiv.style.display == 'block')
          mydiv.style.display = 'none';
       else
          mydiv.style.display = 'block';
    }

    function makeVisible(id) {
          var e = document.getElementById(id);
           e.style.display = 'block';
    }
    
 function Save()
    {
        window.alert("saved successfully to the database!!!");
    }
 
</script>


            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6"> 
                            <div class="button-like">
                            <button class="medium green1 buttonSign" type="submit" onclick="window.location='/logout';">SIGN OUT
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                 
                <div id="main-header">
                    <div class="container1">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="#"><img src="../images/FinalLogo.png" title="Email Campaign" alt="Email Campaign" ></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="main-menu">
                                    <ul>                                       
                                     
                                       <li><a href="/Home">DASHBOARD</a><li>                                
                                        <li> <a href="/email">EMAILS</a><li>
                                       <li> <a href="/contacts" class="active">CONTACTS</a><li>
                                       <li> <a href="/templates">TEMPLATES</a><li>
                                       
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </header>
<div id="main" class="full_width">
      
      <div id="yield">
<div class="header_section" style="background: #D58B28">
  
  <h1>Welcome <%=fname%></h1>
        
  
  <div style="clear: both; "></div>
  
</div>


<div class="page_title">
<h2>Manage Your Contacts</h2>
 <img src="../images/under-heading.png" alt="" >
<p style="display: block;">Here you can create a new contact list, manage an existing list </p>
</div>

<div class="account_section" style="width: 85%;margin: 10% auto 1% 20%;; padding-top: 0px;">

    <div class="containerSignup" style="max-width: 400px;">   
  
    </div>
                    <div class="row">
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                   <a href="javascript:makeVisible('ListViewId');"> <img src="../images/lists_icon.jpg" alt="" /></a>
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="javascript:makeVisible('ListViewId');">View Lists</a></h4>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                  <a href="/createList"> <img src="../images/contacts-icon.png" alt="" /></a>
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/createList">Create Lists</a></h4>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
            </div>
                          <!--  <div class="blog-post">
                               <div class="contact-thumb">
                                   <img src="../images/lists_icon.jpg" alt="" />
                                                                  </div>
                                <div class="contacts-content">
                                    <div class="content-show">
                                      <!--  <h4 style="text-align: center;"><a href="contacts.ejs">Manage Contacts</a></h4>-->
                                   <!--     <h4 style="text-align: center;"><a href="javascript:makeVisible('ListViewId');">View Lists</a></h4>                                        
                                    </div>                                   
                                </div>
                                <div class="contact-thumb">
                                   <img src="../images/contacts-icon.png" alt="">
                                                                  </div>
                                <div class="contacts-content">
                                    <div class="content-show">
                                      <!--  <h4 style="text-align: center;"><a href="/contacts">Manage Contacts</a></h4>-->
                                      <!--  <h4 style="text-align: center;"><a href="/createList">Create Lists</a></h4>                                        
                                   <!-- </div>                                   
                                </div>
                            </div>-->

                            </div>   <br><br>
<div id="ListViewId" style="display:none;">
 <h2>Personal Contacts :</h2>
      <table aria-describedby="list_contacts_info" id="list_contacts" data-source="https://app.emailopened.com/lists/1290-personal/contactships.json" class="tableo dataTable" style="width: 100%; ">
    
    <div class="image-thumb" style="width: 60%;">
    <img src="images/trash.png" alt="" />
    <button class="medium green1 buttonSign" type="button" name="Save" id="save" value="Disable" onclick="Save()";>Save</button>
    </div>
       <thead>
        <tr role="row" style="color: black;">
         
        <th colspan="1" rowspan="1" aria-controls="list_contacts" tabindex="0" role="columnheader" class="sorting" style="width: 20px; max-width: 20px; text-align: center;">S.No</th>
        <th colspan="1" rowspan="1" aria-controls="list_contacts" tabindex="0" role="columnheader" class="sorting" style="width: 20px; max-width: 20px; text-align: center">Name</th>
        <th colspan="1" rowspan="1" aria-controls="list_contacts" tabindex="0" role="columnheader" class="sorting" style="width: 20px; max-width: 20px; text-align: center">View</th>
        </tr>
      </thead>
    

    <tbody aria-relevant="all" aria-live="polite" role="alert">
    
    
    <% for(var count=0;count < contactList.length; count++)  { 
	   var curObj=contactList[count];
	  	
	%>
		<tr class="odd">
		    <!--<td class="">-->
		    <!--<input id=" " class="contact_checkbox" data-id=" " type="checkbox"></td>-->
		    
		    <td style="text-align: center"><span style="font-weight: bold;"><%=count+1%></span></a></td>
		    <td style="text-align: center"><%=curObj.groupName%></a></td>
		    
		   
		   <div class="button-like">
		   <td style="text-align: center"><button class="medium green1 buttonSign" type="submit" onclick="window.location='/listOverView?list=<%=curObj.groupName%>';">View</a>
		    
		   </a></td>               </div>
		    
		    </tr>
		<% }%>
    
    <% if(contactList.length==0)  { 
	   
	  	
	%>
	<tr class="odd">
		   <td>
		   	You currently have no contact lists. 
		   </td>
		    
		    </tr>
	
	<%}%>
    </tbody>
    </table>
</div>
<script type="text/javascript">
function Edit()
{
if(LName.value!="")
{
document.getElementById("LName").disabled = false;
document.getElementById("save").style.visibility="visible";
}
}

</script>
</div>
      </div>
      <div class="alert-box error" id="errorMessage"><span id="error-span"></span></div>
	<div class="alert-box success" id="successMessage"><span id="success-span"></span></div>
    </body>
    </html>
