<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>Email Campaign</title>
        <link rel="shortcut icon" href="//images/icon.jpg"/>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/font-awesome.css">
        <link rel="stylesheet" href="../css/templatemo_style.css">
        <link rel="stylesheet" href="../css/templatemo_misc.css">
        <link rel="stylesheet" href="../css/flexslider.css">
        <link rel="stylesheet" href="../css/testimonails-slider.css">

        <script src="/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
<script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

</script>
            <header>
                <div id="top-header">
                    <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6"> 
                            <div class="button-like">
                            <button class="medium green1 buttonSign" type="submit" onclick="toggle_visibility('form')" >LOGIN
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="login-form" id="form">
     <form accept-charset="UTF-8" action="/Login" id="new_session" method="post" novalidate="novalidate"><input name="utf8" type="hidden" value="?">
               <div class="eo_signup_field">
                <div class="tag">Email</div>
                <div class="field"><input id="email" name="email" type="email">
                </div>
            </div>
            <div class="eo_signup_field">
                    <div class="tag">Password</div>
                    <div class="field"><input id="password" name="password" type="password">
                    </div>
                </div>
                <div ><button class="eo-button" type="submit" style="margin:10px;text-align: center;">Log In</button></div>
                </form>
</div>
                  <div  id="signup" class="eo_signup_box" style="left: 1090px; top: 104px; position: absolute; z-index: 5000000; display: none;">
<form accept-charset="UTF-8" action="/SignUp" class="new_company" id="new_company" method="post" novalidate="novalidate">
  <input name="utf8" type="hidden" value="?"><input name="authenticity_token" type="hidden" value="V+NVZUiXGK+DtNCEw9AMvJzdM0FR4iK/HCtxR0CiXzg="><input id="company_users_attributes_0_referring_url" name="company[users_attributes][0][referring_url]" type="hidden" value="http://www.emailopened.com"><input id="company_users_attributes_0_validated_signup" name="company[users_attributes][0][validated_signup]" type="hidden" value="false"><input id="company_users_attributes_0_referral_token" name="company[users_attributes][0][referral_token]" type="hidden" value="main_site"><input id="company_users_attributes_0_time_zone" name="company[users_attributes][0][time_zone]" type="hidden" value="America/Los_Angeles">
<div class="eo_signup_field"><div class="tag">Full Name:</div><div class="field"><input id="company_users_attributes_0_name" name="company[users_attributes][0][name]" size="20" type="text"></div></div>
<div class="eo_signup_field"><div class="tag">Email:</div><div class="field"><input id="company_users_attributes_0_email" name="company[users_attributes][0][email]" size="20" type="text"></div></div><input id="company_plan_id" name="company[plan_id]" type="hidden" value="6">
<h3 style="font-size: 11px; text-align: center; color: #999999;">By clicking the button below, you agree to Email Opened's <a href="http://www.emailopened.com/tos/" target="_blank" style="font-size: 11px;">Terms of Service</a> &amp; <a href="http://www.emailopened.com/privacy/" target="_blank" style="font-size: 11px;">Privacy Policy</a>.</h3>
<div class="eo_signup_field"><button class="eo-button" type="submit"><i class="icon-ok"></i> &nbsp; Sign Up</button></div>
</form>
</div>
                <div id="main-header">
                    <div class="container1">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="logo">
                                    <a href="#"><img src="/images/FinalLogo.png" title="Email Campaign" alt="Email Campaign" ></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="main-menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/About-us">About Us</a></li>
                                        <li><a href="/Features">Features</a></li>
                                        <li><a href="/Sign-up">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </header>
           

            <div id="latest-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-section">
                                <h2>Explore Our Features...</h2>
                                <img src="/images/under-heading.png" alt="" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb" style="height: 240px; width: 360px;">
                                   <img src="/images/ManageContacts.jpg" alt="" />
                                                                  </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/contacts">Manage Contacts</a></h4>                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Uploading your contacts is easy! Simply upload an existing CSV or Excel file, or copy and paste. Keep track of who is really opening and clicking your message.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb" style="height: 240px; width: 360px;">
                                    <img src="/images/template1.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/email">Choose Your Template</a></h4>
                                    </div>
                                    <div class="content-hide">
                                        <p>Once you choose one of our many templates, simply copy over your text and images – and your message is ready to go! Our templates are easy for anyone to use, without needing web design or programming skills.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="/images/SendEmail.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/email">Draft & Send Email</a></h4>
                                        
                                    </div>
                                    <div class="content-hide">
                                        <p>Once you are ready with the email, you can prview it and you’ll be able to send your message in no time, with no hassles!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb" style="height: 240px; width: 360px;">
                                    <img src="/images/prediction.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/email">Subject Line Prediction</a></h4>
                                        <span>25 Aug 2084</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>Our subject analysis engine automatically provides you with positive and negative feedback as you type!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                  <img src="/images/blogpost5.jpg" alt="" />    
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/email">Body Analysis</a></h4>
                                    </div>
                                    <div class="content-hide">
                                        <p>Our Body Analysis reviews your created message and gives helpful hints based on your previous campaign performance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="/images/analytics.jpg" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="content-show">
                                        <h4><a href="/email">Advance Analytics</a></h4>
                                        <span>12 Aug 2084</span>
                                    </div>
                                    <div class="content-hide">
                                        <p>Track opens, clicks, bounces, and more! Get the most of your campaigns and see how you customers interact..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            

            <footer class="eo-footer">
  <div class="eo-footer-inner"><div class="eo-footer-text">
<div class="col1 rborder"><p><h3 style="color: orange;">  Email Campaign</h3></p>
<p style="padding-bottom: 10px; padding-right: 10px; padding-left: 10px;">San Jose State University<br>1 Washington Sq,<br>San Jose&nbsp;CA 95192</p>
<p style="padding-right: 8px; padding-left: 10px; color: #FFFFFF;">Ph: (408) 924-1000<br> <a href="mailto:info@emailopened.com" font-size: 15px;style="color: #666">info@emailopened.com</a></p></div>
<div class="col2 cols"><h3>Company</h3>
<a href="/company/">About Us</a><br>
<a href="/privacy/">Privacy Policy</a><br>
</div>
<div class="col3 cols"><h3>Resources</h3>
<a href="/features/">Features</a><br>
</div>
<div class="col4 cols"><h3>Support</h3>
<a href="/SignUp">Sign Up</a><br>
<a href="/contact">Contact Us</a><br>
<br>
<a href="http://www.facebook.com/EmailOpened" title="Follow Email Opened on Facebook" target="_blank"><img src="http://www.emailopened.com/wp-content/uploads/2014/02/eo-social-buttons-facebook.png"></a><a href="https://twitter.com/EmailOpened" title="Follow Email Opened on Twitter" target="_blank"><img src="http://www.emailopened.com/wp-content/uploads/2014/02/eo-social-buttons_twitter.png"></a><a href="http://www.linkedin.com/company/email-opened-inc-?trk=company_name" title="Follow Email Opened on LinkedIn" target="_blank"><img src="http://www.emailopened.com/wp-content/uploads/2014/02/eo-social-buttons_linked.png"></a></div>
<div class="cleared"></div>
<p style="margin-top: 8px;text-align: center;">Copyright © 2014. <a href="http://www.emailopened.com" title="Email Opened">Email Campaign</a> All Rights Reserved.</p>
</div></div>
</footer>

    
        <script src="/js/vendor/jquery-1.11.0.min.js"></script>
        <script src="/js/vendor/jquery.gmap3.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

    </body>
</html>